.ctn-CardReproduccion{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    height: 230px;
}

.ctn-CardReproduccion h2{
    font-size: 17px;
    margin: 0;
    padding-bottom: 7px;
}

.ctn-item-reproduccion{
   display: flex;
   flex-direction: row;
   gap: 10px;

}


.portada-imagen{
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-reproduccion{
    width: 150px;
    height: 150px;
}

.texto-reproduccion{
  font-size: 17px;
  display: flex;
  justify-content: center;
}