.contenedor-footer {
  height: 56px;
  width: 100%;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(45, 45, 45, 0.979);
}

.FooterItem {
  display: flex;
  width: 25%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.FooterItem:hover {
  background: #95959570;
}
