:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  overflow: hidden;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  background: #232a32;
  min-height: 100vh;
  overflow-x: hidden;
  
}

body::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #fff;
    background-color: #fff;
  }
}
