.TagsItem {
  color: white;
  background-color: rgba(244, 244, 240, 0.313);
  height: 30px;
  display: inline-flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  border-radius: 15px;
  padding: 2px 10px;
  font-size: 16px;
}
